*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left, rgb(47, 0, 255),rgb(128, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 100%;
    max-width: 400px;
    min-width: 280px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
form h2{
font-size: 30px;
margin-bottom: 20px;
color: rgb(50, 50, 182);
}
form input,
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form input:focus {
    border-color: rgb(47, 0, 255);
    outline: none;
}
form button {
    background-color: rgb(47, 0, 255);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: rgb(128, 0, 0);
}
a {
    color: rgb(47, 0, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}